<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529215752695-ujsrb7q1b9itgv5ujqr8jrpgb9l68qv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529215752695-ujsrb7q1b9itgv5ujqr8jrpgb9l68qv0</string>
	<key>API_KEY</key>
	<string>AIzaSyAEvPTMmsonWOJiMahzahcGRWg6tOaHjAI</string>
	<key>GCM_SENDER_ID</key>
	<string>529215752695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.przepisnik.przepisnikV3</string>
	<key>PROJECT_ID</key>
	<string>przepisnik-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>przepisnik-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:529215752695:ios:f0f0f2365999ed964306f2</string>
	<key>DATABASE_URL</key>
	<string>https://przepisnik-v2.firebaseio.com</string>
</dict>
</plist>
